.cartAmount {
    position: absolute;
    top: 2%;
    right: 1%;
    font-size: 16px;
    background-color: red;
    color: white;
    padding: 2px;
    border-radius: 3px;
  }
  @media only screen and (max-width: 284px) {
    .cartAmount {
        position: absolute;
        top: 63%;
        right: 82%;
        font-size: 16px;
        background-color: red;
        color: white;
        padding: 2px;
        border-radius: 3px;
      }
  }